body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f7f7f7 25%, #e6e6e6 100%);
    overflow: hidden; 
}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.color-preview {
    margin: 20px 0;
}

.color-box {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.controls {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="color"], input[type="range"] {
    border: none;
    padding: 0;
    width: 100px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    margin: 0 auto;
}

input[type="range"] {
    width: 200px;
    margin-top: 10px;
}

input[type="color"]:hover, input[type="color"]:focus, input[type="range"]:hover, input[type="range"]:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color-info {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.shade-variations, .color-harmonies {
    margin-top: 20px;
    text-align: center;
}

.shade-variations h2, .color-harmonies h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

#shadeContainer, #harmonyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.shade, .harmony {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.message {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
}

.hidden {
    display: none;
}

#shadeContainer, #harmonyContainer {
    margin-top: 20px;
}

.shade-variations h2, .color-harmonies h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}
